*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}
h1{
    font-family: cursive;
    font-size: 45px;
}
.landing
{
    height: 1620px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
    margin-bottom: 200px;
}
#search
{
    position: absolute;
    bottom:85%;
    right: 1%;
    background:rosybrown;
    height: 40px;
    border-radius:40px;
    padding:5px;
}
.searchbtn
{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 25%;
    background:white;
    display: flex;
    justify-content:center;
    align-items:center;
    transition: 0.4s;
}
#search:hover>.searchtxt
{
    width: 240px;
    padding: 0 6px;
}
#search:hover>.searchbtn
{
    background: white;
}
.searchtxt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}
#image img
{
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 100%;
}
#image
{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    /* background-image: url(hack5.jpg); */
    background:linear-gradient(#DACC96,#BF8B67,#9D5353);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}
#text
{
    width: 600px;
    height: 61px;
    margin-top: 39px;
    margin-left: 550px;
    color: black;
}
.menubar
{
    background-color:transparent;
    text-align: center;
    font-weight: bold;
    /* float: right; */
}
.menubar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menubar ul li
{
    width: 140px;
    margin: 8px;
    padding: 8px;
}
.menubar ul li a
{
    text-decoration: none;
    color: black;
}
.menubar ul li :hover
{
    background-color: white;
    border-radius: 3px;
}
.menubar .fa
{
    margin: 4px;
}
.submenu
{
    display: none;
}
.menubar ul li:hover .submenu
{
    display: block;
    position: absolute;
    background-color:white;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: -10px;
}
.menubar ul li:hover .submenu ul
{
    display: block;
    margin: 8px;
}
.menubar ul li:hover .submenu ul li
{
    width: 130px;
    padding: 8px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menubar ul li:hover .submenu ul li:last-child
{
    border-bottom: none;
}
.menubar ul li :hover.submenu ul li a:hover
{
    color: yellowgreen;
}
#para h2
{
    margin-top: 3%;
    text-align: center;
    color: white;
    padding-left: 50px;
}
/* .row
{
    display: flex;
    height: 88%;
    align-items: center;
}
.col
{
    flex-basis: 50%;
} */
#para p
{
   margin: 2%;
    padding-left: 30%;
    padding-right: 20%;
    color: white;
}
#card
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: -560px 15px;
    margin-left:25%;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card h5
{
    text-align: center;
}
p
{
    margin: 40px;
}
#card:hover
{
    transform:translateY(-10px);
}
#card1
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: -560px 15px;
    margin-left:150px;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card1 h5
{
    text-align: center;
}

#card1:hover
{
    transform:translateY(-10px);
}
#card2
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 80px 15px;
    margin-left:25%;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card2 h5
{
    text-align: center;
}

#card2:hover
{
    transform:translateY(-10px);
}
#card3
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 80px 15px;
    margin-left:150px;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card3 h5
{
    text-align: center;
}

#card3:hover
{
    transform:translateY(-10px);
}
#card4
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: -20px 15px;
    margin-left:25%;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card4 h5
{
    text-align: center;
}

#card4:hover
{
    transform:translateY(-10px);
}
#card5
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: -20px 15px;
    margin-left:150px;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card5 h5
{
    text-align: center;
}

#card5:hover
{
    transform:translateY(-10px);
}
#card6
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 80px 15px;
    margin-left:25%;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card6 h5
{
    text-align: center;
}

#card6:hover
{
    transform:translateY(-10px);
}
#card7
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: -10px 15px;
    margin-left:150px;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card7 h5
{
    text-align: center;
}

#card7:hover
{
    transform:translateY(-10px);
}
#card8
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: -10px 15px;
    margin-left:25%;
    transition:0.5s;
    background-position: center;
    background-size: cover;
   background-color:#FDEBF7;
}
#card8 h5
{
    text-align: center;
}

#card8:hover
{
    transform:translateY(-10px);
}
#card9
{
    width: 300px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: -10px 15px;
    margin-left:150px;
    transition:0.5s;
    background-position: center;
    background-size: cover;
    background-color:#FDEBF7;
}
#card9 h5
{
    text-align: center;
}

#card9:hover
{
    transform:translateY(-10px);
}
button
{
    border-radius: 4px;
    background-color: lightgreen;
    cursor: pointer;
    outline: none;
}
button:hover
{
    border-color: lightgreen;
    transition: .5s;
}