*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}
.landing
{
    height: 2000px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 200px;
}
#image img
{
    height: 200px;
    width: 200px;
    float: left;
}
#image
{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-image: url(hackathon3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}
#text
{
    width: 600px;
    height: 61px;
    margin-top: 39px;
    margin-left: 550px;
    color: black;
}
.menubar
{
    background-color:transparent;
    text-align: center;
    font-weight: bold;
    /* float: right; */
}
.menubar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menubar ul li
{
    width: 140px;
    margin: 8px;
    padding: 8px;
}
.menubar ul li a
{
    text-decoration: none;
    color: black;
}
.menubar ul li :hover
{
    background-color: white;
    border-radius: 3px;
}
.menubar .fa
{
    margin: 4px;
}
.submenu
{
    display: none;
}
.menubar ul li:hover .submenu
{
    display: block;
    position: absolute;
    background-color:white;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: -10px;
}
.menubar ul li:hover .submenu ul
{
    display: block;
    margin: 8px;
}
.menubar ul li:hover .submenu ul li
{
    width: 130px;
    padding: 8px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menubar ul li:hover .submenu ul li:last-child
{
    border-bottom: none;
}
.menubar ul li :hover.submenu ul li a:hover
{
    color: yellowgreen;
}
.ongoingevents
{
    height: 600px;
    width: 100%;
    visibility: none;
}