*
{
    margin: 0;
    padding: 0;
    font-family:Montserrat;
}
.login
{
    width: 100%;
    height: 600px;
    border: 1px solid black;
}
img
{
    height: 50px;
    width: 50px;
    float: left;
}
#text
{
    width: 120px;
    height: 61px;
    margin-top: 39px;
    margin-left:140px;
}
/* .user
{
    height: 202px;
    border: 1px solid black;
} */
.form
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    background-color:skyblue;
    height: 550px;
    border-radius: 10px;
}
.form form
{
    padding: 0 40px;
    box-sizing: border-box;
}
form .mail
{
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0; 
}
.mail input
{
    width: 100%;
    padding:0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
/* .mail label
{
    position: absolute;
    top: 50%;
    left:5px;
    color: white;
    transform: translateY(-50%);
    font-size: 16px;
} */
.forget
{
    margin: -5px 0 20px 5px;
    color: white;
}
.forget a
{
    text-decoration:none;
    color: #a6a6a6;
}
.forget a:hover
{
    text-decoration: underline;
}
button
{
    width: 100%;
    height: 50px;
    top: 462px;
    left: 520px;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 18px;
    background-color: blue;
    color: #e9f4fb;
    font-weight: 700px;
    cursor: pointer;
    outline: none;
}
button:hover
{
    border-color: blue;
    transition: .5s;
}
.signup
{
    margin: 30px  0;
    text-align: center;
    font-size: 16px;
    color: #666;
    border-top: 2px solid silver;
}
button a
{
    text-decoration: none;
    color: #e9f4fb;
}